.footer {
    height: 8vh;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }


    .copy {
        font-family: $textFont;
        font-size: 12px;
    }
}

.socials {
    height: 100%;
    cursor: pointer;
    transition: .3s;



    img {
        height: 100%;

        &:hover {
            filter: brightness(80%);
        }
    }
}