@import url('https://fonts.googleapis.com/css?family=McLaren|Sacramento&display=swap');


$textFont: 'McLaren',
cursive;
$giliFont: 'Sacramento',
cursive;
$darkRed:#670909;
$pink: #E37E7E;
$mustard: #F2994A;

$break-small: 1000px;
$break-large: 1400px;


.giliFont {
    font-family: $giliFont;
    font-size: 3vh;
}