@import "./sass/header";
@import "./sass/variables";
@import "./sass/footer";
@import "./sass/readMore";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

// only as hook
span {
  position: absolute;
  top: -10vh;
}

.section {
  position: relative;
  top: 12vh;
  width: 100%;
  margin: 0 auto;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
  }

  &__img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 150%;
    }
  }

  &__text {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: 32px;
    font-family: $giliFont;
    color: $darkRed;
    margin-bottom: 5vh;
  }

  &__content {
    font-family: $textFont;
    font-size: 20px;
    text-align: justify;
  }
}

.kosmos {
  position: absolute;
  top: 0;
  left: 0%;

  img {
    width: 30%;
  }
}

.rakieta {
  position: absolute;
  top: 0;
  left: 0%;
  transform: rotate(-20deg);
  animation: launch 3s 3s both;

  img {
    width: 10%;
  }
}



@keyframes launch {
  from {
    bottom: -120%;
    transform: rotate(20deg);
  }
}

@media screen and (max-width: $break-small) {
  .container {
    width: 90%;
  }

  .section {

    &__img {
      display: none;
    }

    &__text {
      width: 100%;
    }

    &__title {
      font-size: 3.5vh;
    }

    &__content {
      font-size: 2vh;
    }
  }

  .about {
    .section__content {
      position: relative;

      &:after {
        height: 50%;
        width: 50%;
        bottom: 0%;
        right: 0%;
        opacity: 50%;
      }
    }

    .section__title {
      position: relative;

      &:before {
        height: 200%;
        width: 150%;
        bottom: -100%;
        right: -150%;
      }
    }
  }
}