@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=McLaren|Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=McLaren|Sacramento&display=swap");
.giliFont {
  font-family: "Sacramento", cursive;
}

@media screen and (max-width: 900px) {
  body,
  html {
    overflow-x: hidden;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
}

nav.banner {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

nav.banner .logo {
  height: 50%;
  width: 100%;
}

nav.banner .logo svg {
  width: 100%;
  padding: 10px;
}

nav.banner .nav__links {
  visibility: hidden;
  opacity: 0;
  width: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav.banner .burger {
  visibility: hidden;
  opacity: 0;
  width: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav.banner .socials {
  visibility: hidden;
  opacity: 0;
  width: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12vh;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 10;
}

.nav .logo {
  height: 100%;
  width: 30%;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav .logo svg {
  height: 100%;
  width: 100px;
  padding: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav .logo svg:hover {
  -webkit-animation: anime 1s linear infinite;
          animation: anime 1s linear infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav__links li:hover {
  -webkit-animation: anime 1s linear infinite;
          animation: anime 1s linear infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@media screen and (max-width: 900px) {
  .nav__links {
    position: absolute;
    right: 0;
    height: 88vh;
    top: 12vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 2;
  }
}

.nav__link {
  font-size: 36px;
  text-decoration: none;
  font-family: "Sacramento", cursive;
}

@media screen and (max-width: 900px) {
  .nav__link {
    opacity: 0;
  }
}

@media screen and (max-width: 1400px) {
  .nav__link {
    font-size: 28px;
  }
}

.nav__link:hover {
  -webkit-animation: anime 1s linear infinite;
          animation: anime 1s linear infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.nav .burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .nav .burger {
    display: block;
  }
}

.nav .burger__line {
  margin: 5px;
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav .burger__line:nth-child(1) {
  width: 7px;
  height: 7px;
  background-color: #6D2128;
}

.nav .burger__line:nth-child(2) {
  width: 9px;
  height: 9px;
  background-color: #E79C00;
}

.nav .burger__line:nth-child(3) {
  background-color: #C87072;
  width: 5px;
  height: 5px;
}

.nav .socials {
  position: absolute;
  top: 0;
  right: 0;
  height: 7vh;
  width: 7vh;
  padding: 10px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 900px) {
  .nav .socials {
    display: none;
  }
}

.nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: #fff;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes anime {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
            transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
            transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
            transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes anime {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
            transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
            transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
            transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

path:nth-of-type(1) {
  stroke-dasharray: 1074px;
  stroke-dashoffset: 1074px;
  -webkit-animation: lineAnim 1s ease forwards, fillColor 0.5s ease 2.2s forwards;
          animation: lineAnim 1s ease forwards, fillColor 0.5s ease 2.2s forwards;
}

path:nth-of-type(2) {
  stroke-dasharray: 219px;
  stroke-dashoffset: 219px;
  -webkit-animation: lineAnim 1s ease forwards 0.3s, fillColor 0.5s ease 2.2s forwards;
          animation: lineAnim 1s ease forwards 0.3s, fillColor 0.5s ease 2.2s forwards;
}

path:nth-of-type(3) {
  stroke-dasharray: 454px;
  stroke-dashoffset: 454px;
  -webkit-animation: lineAnim 1s ease forwards 0.6s, fillColor 0.5s ease 2.2s forwards;
          animation: lineAnim 1s ease forwards 0.6s, fillColor 0.5s ease 2.2s forwards;
}

path:nth-of-type(4) {
  stroke-dasharray: 219px;
  stroke-dashoffset: 219px;
  -webkit-animation: lineAnim 1s ease forwards 0.9s, fillColor 0.5s ease 2.2s forwards;
          animation: lineAnim 1s ease forwards 0.9s, fillColor 0.5s ease 2.2s forwards;
}

path:nth-of-type(5) {
  stroke-dasharray: 550px;
  stroke-dashoffset: 550px;
  -webkit-animation: lineAnim 1s ease forwards 1.2s, fillColor 0.5s ease 2.2s forwards;
          animation: lineAnim 1s ease forwards 1.2s, fillColor 0.5s ease 2.2s forwards;
}

path:nth-of-type(6) {
  stroke-dasharray: 219px;
  stroke-dashoffset: 219px;
  -webkit-animation: lineAnim 1s ease forwards 1.5s, fillColor 0.5s ease 2.2s forwards;
          animation: lineAnim 1s ease forwards 1.5s, fillColor 0.5s ease 2.2s forwards;
}

path:nth-of-type(7) {
  stroke-dasharray: 454px;
  stroke-dashoffset: 454px;
  -webkit-animation: lineAnim 1s ease forwards 1.8s, fillColor 0.5s ease 2.2s forwards;
          animation: lineAnim 1s ease forwards 1.8s, fillColor 0.5s ease 2.2s forwards;
}

path:nth-of-type(8) {
  stroke-dasharray: 219px;
  stroke-dashoffset: 219px;
  -webkit-animation: lineAnim 1s ease forwards 2.1s, fillColor 0.5s ease 2.2s forwards;
          animation: lineAnim 1s ease forwards 2.1s, fillColor 0.5s ease 2.2s forwards;
}

@-webkit-keyframes lineAnim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes lineAnim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fillColor {
  from {
    fill: transparent;
  }
  to {
    fill: #6D2128;
  }
}

@keyframes fillColor {
  from {
    fill: transparent;
  }
  to {
    fill: #6D2128;
  }
}

.giliFont {
  font-family: "Sacramento", cursive;
}

.footer {
  height: 8vh;
  z-index: 1;
  position: relative;
  top: 12vh;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.footer .copy {
  font-family: "McLaren", cursive;
  font-size: 12px;
}

.socials {
  height: 100%;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.socials img {
  height: 100%;
}

.socials img:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

#aboutState,
#birthdayState,
#activitiesState {
  display: none;
}

.read-more {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

.read-more-state:checked ~ .section__content .read-more {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'więcej';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'mniej';
}

.read-more-trigger {
  font-family: "Sacramento", cursive;
  cursor: pointer;
  color: #222;
  font-size: 3vh;
  line-height: 2;
  z-index: 3;
}

.read-more-trigger:hover {
  -webkit-animation: anime 1s linear infinite;
          animation: anime 1s linear infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #444;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./img/bg.png");
  z-index: -5;
}

@media (max-width: 900px) {
  body {
    overflow: hidden;
  }
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

span {
  position: absolute;
  top: -12vh;
}

.section {
  position: relative;
  top: 12vh;
  width: 100%;
}

.section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70vh;
}

.section__img {
  width: 30%;
}

.section__img img {
  width: 100%;
}

.section__text {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__title {
  font-size: 32px;
  font-family: "Sacramento", cursive;
  margin-bottom: 5vh;
}

.section__content {
  font-family: "McLaren", cursive;
  font-size: 18px;
  text-align: justify;
}

.about .section__content {
  position: relative;
}

.about .section__content::after {
  position: absolute;
  content: '';
  background-image: url("./img/rakieta.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 250px;
  height: 250px;
  bottom: -200px;
  right: 0;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-animation: launch 3s 3s both;
          animation: launch 3s 3s both;
  z-index: -1;
}

@media (max-width: 900px) {
  .about .section__content::after {
    bottom: -20px;
    right: 0;
    width: 200px;
    height: 200px;
  }
}

.about .section__content::before {
  position: absolute;
  content: '';
  background-image: url("./img/kosmos.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0;
  width: 250px;
  height: 250px;
  top: -100px;
  right: 0;
  z-index: -1;
}

@media (max-width: 900px) {
  .about .section__content::before {
    top: -70px;
    right: -10px;
    width: 200px;
    height: 200px;
  }
}

.birthday .section__content {
  position: relative;
}

.birthday .section__content::before {
  position: absolute;
  content: '';
  background-image: url("./img/girlanda.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0;
  width: 350px;
  height: 350px;
  top: -130px;
  left: -20px;
  z-index: -1;
}

@media (max-width: 900px) {
  .birthday .section__content::before {
    top: -50px;
    left: 60px;
    width: 150px;
    height: 150px;
  }
}

.birthday .section__content::after {
  position: absolute;
  content: '';
  background-image: url("./img/fala.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 350px;
  height: 350px;
  bottom: -330px;
  left: -20px;
  z-index: -1;
}

@media (max-width: 900px) {
  .birthday .section__content::after {
    bottom: -380px;
    left: 20px;
  }
}

.activities .section__content {
  position: relative;
}

.cafe .section__content {
  position: relative;
}

.cafe .section__content::before {
  position: absolute;
  content: '';
  background-image: url("./img/napoj_owoc.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 250px;
  height: 250px;
  bottom: -200px;
  right: 0;
  z-index: -1;
}

.address__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .address__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 900px) {
  .address__content .aboutUs {
    display: none;
  }
}

@-webkit-keyframes launch {
  from {
    bottom: -300%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes launch {
  from {
    bottom: -300%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
  }
  .section__img {
    display: none;
  }
  .section__text {
    width: 100%;
  }
  .section__title {
    font-size: 28px;
  }
  .section__content {
    font-size: 16px;
  }
  .about .section__content::before {
    right: -50px;
  }
}
/*# sourceMappingURL=style.css.map */